doctype html
html(lang="en")

  include ../modules/head.jade

  body.home

    include ../modules/header.jade

    aside
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, iure, totam, necessitatibus voluptates culpa modi esse nostrum soluta corporis quaerat labore

    include ../modules/footer.jade
