doctype html
html(lang="en")

  include ../modules/head.jade

  body.home

    include ../modules/header.jade

    aside
      p.
        Trolem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, iure, totam, necessitatibus voluptates culpa modi esse nostrum soluta corporis quaerat labore

    main.hidden

      button(type="button")
        span(title="See how I've joined the dots") +

      section
        header
          h1 Telef贸nica R &amp; D
          h2 Principal Interaction Designer  &amp; UX Strategy Lead

        article
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.


      section
        header
          h1 Telef贸nica R &amp; D
          h2 Principal Interaction Designer  &amp; UX Strategy Lead

        article
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.


      section
        header
          h1 Telef贸nica R &amp; D
          h2 Principal Interaction Designer  &amp; UX Strategy Lead

        article
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.


      section
        header
          h1 Telef贸nica R &amp; D
          h2 Principal Interaction Designer  &amp; UX Strategy Lead

        article
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, totam, perferendis rerum ex qui fuga ad sit cupiditate id maiores aperiam placeat saepe nihil dolor iste consectetur reprehenderit nam dolore.


    include ../modules/footer.jade
