// Home Page
aside
  @media $handheld
    margin-bottom: 3rem
    padding: 1.5rem

  @media $desktop
    width: 96rem
    margin: 5rem auto 8rem auto


aside p
  color: #999
  font-weight: 100

  @media $handheld
    font-size: 1.8rem

  @media $desktop
    font-size: 2.5rem
    text-align: center


main
  @media $handheld
    padding-right: 1rem

  @media $desktop
    width: 96rem
    margin: 0 auto
    background: url("-/assets/timeline.png") top center repeat-y

  button
    display: block
    width: 3rem
    height: 3rem
    transform: rotate(45deg)
    color: #FFF
    font: bold 3rem "museo-slab", "Helvetica Neue", Helvetica, sans-serif
    border: none
    border-radius: 100%
    background: transparent

    @media $handheld
      position: absolute
      left: 0.5rem

    @media $desktop
      position: absolute
      left: -1.5rem
      margin: 0 50%
      cursor: pointer

    span
      display: block
      position: absolute
      top: -0.45rem
      left: 0.6rem

   &.hidden //- Tweaks to hide the timeline
    position: relative

    button
      transform: rotate(0deg)

    section
      display: none

      &:nth-child(2) //- The first section
        display: block

        @media $desktop
          background: url("-/assets/footer.png") bottom center repeat-x

        article
          @media $handheld
            height: 10rem
            background: url("-/assets/footer.png") bottom center repeat-x

          @media $desktop
            display: none

          p
            @media $handheld
              display: none

