doctype html
html(lang="en")

  include ../partials/head.jade

  body.home

    include ../partials/header.jade

    aside
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, iure, totam, necessitatibus voluptates culpa modi esse nostrum soluta corporis quaerat labore

    include ../partials/footer.jade
