!!! 5
%html(lang="en")

  <!-- haml :"../partials/head.haml" -->

  %body.home

    = Haml::Engine.new(File.read("/Users/Rafael/Repos/Personal/rafaelrebolleda.com/.source/partials/header.haml")).render

    %aside
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, iure, totam, necessitatibus voluptates culpa modi esse nostrum soluta corporis quaerat labore

    <!-- @import "../partials/footer.html" -->
