// Milestone
body.timeline

  @media $handheld

    main
      padding-right: 1rem

    section
      background: url(assets/timeline.png) 1.5rem 0 repeat-y

    section header
      padding: 0.3rem 0 0 4rem
      background: url(assets/milestone.png) 0.5rem 0 no-repeat

    section h1
      font-size: 2rem

    section h2
      color: #BBB
      font-size: 1.6rem
      font-weight: 100

    section article
      margin-top: 2rem
      padding: 0 0 4rem 4rem

    article p
      margin-bottom: 1rem

  @media $desktop

    main
      width: 96rem
      margin: 0 auto
      background: url(assets/timeline.png) top center repeat-y

    section
      padding-bottom: 7rem
      text-align: center
      background: rgba(255, 255, 255, 0.7)

    section h1
      padding-top: 4rem
      font-size: 2rem
      text-align: center
      background: url(assets/milestone.png) top center no-repeat

    section h2
      margin-bottom: 2rem
      font-size: 1.5rem
      font-weight: 100

    article
      width: 66%
      margin: auto

    article p
      margin-bottom: 2rem

    section:last-child
      padding-bottom: 10rem
      background-image: url(assets/footer.png)
      background-position: bottom center
      background-repeat: repeat-x