// Home Page
aside
  @media $handheld
    margin-bottom: 3rem
    padding: 1.5rem

  @media $desktop
    width: 96rem
    margin: 5rem auto 8rem auto


aside p
  color: #999
  font-weight: 100

  @media $handheld
    font-size: 1.8rem

  @media $desktop
    font-size: 2.5rem
    text-align: center
