// Warning
/* This might look a bit messy.
   Take a look a the SASS source files instead :)

   [link to github]
   ************************************************/

// A few vars
$rwd-breakpoint = 980px
$handheld = "screen and (max-width: " + $rwd-breakpoint + ")"
$desktop = "screen and (min-width: " + $rwd-breakpoint + ")"

// Foundation
@import base

// General Modules
@import header
@import footer

// Home
@import home

// Timeline
@import milestone
