head
  meta(charset="utf-8")
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(content="width=device-width, initial-scale=1", name="viewport")

  title Rafael Rebolleda — Product Design &amp; UX Strategy

  link(rel="stylesheet", href="-/main.css")

  script(type="text/javascript", src="https://use.typekit.net/qpb1bzs.js")
  script.
    try{Typekit.load();}catch(e){}
