/* The most basic CSS Reset ever
 ********************************/

*
  margin: 0
  padding: 0
  box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block


/* Basic Layout
 *********************************/
html
  font-size: 10px

body
  color: #555
  font: 16px "museo-slab", "Georgia", "Times New Roman"

img.typekit-badge
  display: none !important

body > header:first-child
  color: #FFF
  background: url(assets/header.jpg) center center no-repeat

body > header img:first-child
  width: 5rem
  border-radius: 100%

body > header h1
  font-family:  "daniel", "Helvetica", sans-serif
  text-transform: lowercase

aside p
  color: #999
  font-weight: 100

footer
  height: 50rem

